@font-face {
    font-family: 'HK Grotesk';
    src: url('HKGrotesk-Black.eot');
    src: url('HKGrotesk-Black.eot?#iefix') format('embedded-opentype'),
        url('HKGrotesk-Black.woff2') format('woff2'),
        url('HKGrotesk-Black.woff') format('woff'),
        url('HKGrotesk-Black.ttf') format('truetype'),
        url('HKGrotesk-Black.svg#HKGrotesk-Black') format('svg');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

