*{
    margin: 0px;
    padding:0px 0px;
    box-sizing: border-box;
}
.buger{
    display: none;
}

.d-flex{
    display: flex;
}
.d-flex-wrap-center{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.d-flex-wrap-s-between{
    display: flex;
    justify-content: space-between; 
    flex-wrap: wrap; 
}
.d-flex-wrap-s-around{
    display: flex;
    justify-content: space-around; 
    flex-wrap: wrap; 
}
.d-flex-wrap-s-evenly{
    display: flex;
    justify-content: space-evenly; 
    flex-wrap: wrap; 
}

.w-full {
    width: 100%;
}

.text-center {
    text-align: center;
}

.nav{
    width: 100%;
    display: flex;
    justify-content: center;
    background-color: antiquewhite;
}

.color-background{
    background-color: #1565D8;
}

.padding-x-20 {
    padding: 0px 20px;
}
.nav-container{
    margin-top: 29px;
    width: 80%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-text {
    width:500px;
}

.nav-text-list {
    display: flex;
    justify-content: space-around;
    align-items: center;
} 
.nav-text-list li button{
    width: 131px;
    height: 48px;
    padding: 6px 10px;
    border: 2px solid #1565D8;
    border-radius: 8px;
    color: #1565D8;
    font-weight: 700;
    font-size: 16px;
    line-height: 22px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: #f9ecd6;
    /* margin-top: -12px; */
    text-align: center;
}

.nav-text ul li{
    list-style: none;
    padding: 0px 20px 0px 20px;
    font-weight: 600px;
   font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 16px;
    line-height: 22px;
    color: #183B56;
}
.nav-text-list i{
    margin: 5px 0px 0px -17px;
}

.hero {
background-color: antiquewhite;
height: 860px;
margin-bottom: 500px;
position: relative;
}
.heading {
    display: flex;
    font-family: Hk Grotesk;
    font-weight: 700;
    font-size: 56px;
    line-height: 68px;
    color: #183B56;
    letter-spacing: 0.2px;
    text-align: center;
    margin-top: 119px;
}

.header-para p {
    /* width: 555px; */
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 18px;
    /* line-height: 32px; */
    text-align: center;
    font-weight: 400;
    color: #183B56;
    margin-top: 19px;
    padding: 0px 8px ;

}

.header-btn button {
    width: 240px;
    height: 56px;
    background-color: #183B56;
    color: white;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 18px;
    line-height: 25px;
    text-align: center;
    font-weight: 700;
    border-radius: 8px;
    border-style: none;
    margin-top: 48px;
}

.social-media{
    width: 80%;
    margin: 30px 0px;
    padding-bottom:100px;
    border-bottom: 1px solid #E3E7ED;
    
}

.align-self{
    align-self: center;
}

.social-media-image {
    padding: 15px 10px;
}


.section-container {
    width: 85%;
    margin: 20px 0px;
    justify-content: center;
    flex-direction: row;
}
.section-container-activity {
    width: 63%;
    display:flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-content: center;
    margin-bottom: 100px;
}
.section-division {
    align-self: center;
    width: 48%;
    min-width: 350px;
    /* display: flex; */
    /* justify-content: center; */
}
.dotted-image-container {
    width: 65%;
    margin-top: 100px;
    position: relative;
}

.hash-tag-area{
    background-color: #F9FBFE;
}

.hash-tag-container {
    width: 63%;

}



.box-container {
    margin-top: 50px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
/* section-2 */
.section-2 {
    width: 100%;
    height: 2618px;
    border: 1px solid black;
    background-color: aqua;
}

.empty-line-1 {
    width: 79.16%;
    height: 0px;
    border: 1px dashed red;
    margin-top: 100px;
}

.secction-2-boxes {
    margin: 68px 150px 0px 150px;
}

.upper-a {
    /* width: 585px; */
    /* height: 448px; */
    border: 1px solid rgb(21, 21, 41);
}

.box-a-title-style {
    /* width: 390px; */
    /* width: 66.66%; */
    /* height: 104px; */
    /* border: 1px solid red; */
    font-family: HK Grotesk;
    font-weight: 700;
    font-size: 40px;
    /* font-size: 2.5em; */
    line-height: 52px;
    text-align: left;
    letter-spacing: 0.2px;
    color: #183B56;
    /* margin-top: 52px; */
    margin-top: 45px;
    padding: 0px 40px 0px 40px;

}


.box-a-para-style {
    /* width: 485px; */
    /* width: 82.9%; */
    /* height: 96px; */
    /* border: 1px solid blue; */
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 32px;
    vertical-align: left;
    letter-spacing: 0.2px;
    color: #5A7184;
    margin-top: 20px;
    padding: 0px 40px 0px 40px;
}

.upper-box-a-learn-more {
    /* width: 92px; */
    /* width: 15.96%; */
    /* height: 22px; */
    /* border: 1px solid red; */
    margin-top: 36px;
    font-weight: 700;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 16px;
    line-height: 22px;
    text-align: left;
    color: #1565D8;
    padding: 0px 40px 0px 40px;
}

.upper-b {
    /* width: 585px; */
    /* height: 448px; */
    border: 1px solid blue;
}

.section-2-lower {
    margin: 179px 0px 0px 0px;
}

.lower-a {
    /* width: 555px; */
    /* height: 384px; */
    border: 1px solid blue;
}

.lower-b {
    /* width: 555px; */
    /* height: 384px; */
    /* border: 1px solid blue; */
}

.lower-box-b-title {
    /* font-weight: 700;
    font-family: HK Grotesk;
    font-size: 40px;
    line-height: 52px;
    text-align: left;
    letter-spacing: 0.2px;
    color: #183B56;
    margin: 22px 0px 0px 0px; */

}

.lower-box-b-para {
    /* width: 485px; */
    /* width: 454px; */
    /* width: 87.3%; */
    /* height: 96px; */
    /* border: 1px solid red; */
    /* font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; */
    /* font-weight: 400; */
    /* font-size: 18px; */
    /* line-height: 32px; */
    /* text-align: left; */
    /* color: #183B56; */
    /* letter-spacing: 0.2px; */
    /* margin-top: 24px; */
    /* margin: 24px 0px 0px 0px; */
}

.dotted-box {
    width: 63%;
    /* width: 900px; */
    height: 300px;
    margin: 224px 0px 0px 0px;
    position: relative;

}
/* small-card-- */
.small-card {
    width: 310px;
    height: 224px;
    border: 1px solid orange;
    border-radius: 12px;
    position: absolute;
    top: -84px;
    left: 42%;
    background-color: #FFFFFF;
}

.small-card-images {
    margin: 25px 15px 0px 15px;
} 

.small-card-title {
    margin-top: 24px;
    font-family: HK Grotesk;
    font-weight: 700;
    font-size: 20px;
    letter-spacing: 0.2px;
    color: #183B56;

}

.small-card-para {
    color: #183B56;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 14px;
    line-height: 24px;
    font-weight: 400;
    margin-top: 10px;

}

 .small-card-btns {
    margin-top: 16px;
} 

 #card-btn-1 {
    height: 38px;
    width: 130px;
    border-radius: 8px;
    border-style: none;
    background-color: #36B37E;
    color: #ffff;
} 

#card-btn-2 {
    height: 38px;
    width: 130px;
    border-radius: 8px;
    border-style: none;
    background-color: #d4ece2;
    color: #36B37E;

}




.lower-content {
    width: 945px;
    /* height: 600px; */
    /* border: 1px solid black; */
    margin-top: 64px;
}

.box-frist {
    width:90%;
    /* background-color: #1565D8; */
    /* height: 400px; */
    /* border: 1px solid blue; */
}

.box-frist-title {
    margin-top: 12px;
    width: 100%;
    /* height: 52px; */
    /* border: 1px solid blue; */
    font-family: HK Grotesk;
    font-size: 39px;
    line-height: 52px;
    text-align: left;
    letter-spacing: 0.2px;
    font-weight: 700;
    color: #183B56;

}

.box-frist-para {
    margin-top: 24px;
    /* height: 96px; */
    width: 100%;
    /* border: 1px solid black; */
    font-size: 18px;
    line-height: 32px;
    vertical-align: left;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 400;
    color: #183B56;

}

.box-second {
    width: 265px;
    /* height: 400px; */
    /* border: 1px solid blue; */
    padding: 0px 80px 0px 0px;

}


/* .digit-286 {
    top: 448px;
    left: 857px;

}

.digit-635 {
    top: 562px;
    left: 857px;
} */

.digit-style {
    font-family: HK Grotesk;
    font-size: 40px;
    line-height: 52px;
    font-weight: 400;
    letter-spacing: 0.2px;
    color: #FAAD13;
}

.digit-635-286 {
    margin-top: 28px;
}

.word-style {
    font-weight: 400;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    line-height: 24px;
    font-size: 14px;
    margin-top: 10px;

}


/* footer-- */
.upper-footer {
    width: 100%;
    /* height: 398px; */
    border: 1px solid rgb(25, 25, 37);
    margin-top: 144px;
    position: relative;
}

.upper-footer-title div {
    /* width: 464px; */
    /* height: 104px; */
    border: 1px solid red;
    margin-top: 88px;
    font-family: HK Grotesk;
    font-size: 40px;
    line-height: 52px;
    letter-spacing: 0.2px;
    color: #183B56;
    text-align: center;
    font-weight: 700;

}


.upper-footer-para p {
    /* width: 418px; */
    /* height: 32px; */
    border: 1px solid red;
    margin-top: 22px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 18px;
    line-height: 32px;
    color: #183B56;
    font-weight: 400;

}

.upper-footer-buttonss {
    width: 270px;
    height: 56px;
    border-radius: 8px;
    border-style: none;
    margin-top: 48px;
    background-color: #1565D8;
    color: white;
    font-weight: 700;
    line-height: 25px;
    font-size: 18px;

}

.positions {
    position: absolute;
}

#image-1 {
    top: 40px;
    left: 157px;
}

#image-2 {
    top: 64px;
    left: 317px;
}

#image-3 {
    top: 112px;
    left: 46px;
}

#image-4 {
    top: 119px;
    left: 0px;
}

#image-5 {
    top: 157px;
    left: 179px;
}



#image-6 {
    top: 197px;
    left: 375px;
}

#image-7 {
    top: 240px;
    left: 105px;
}

#image-8 {
    top: 300px;
    left: 243px;
}

#image-9 {
    top: 0px;
    right: 200px;
}

#image-10 {
    top: 14px;
    right: 48px;
    /* left: 1389px; */
}

#image-11 {
    top: 50px;
    right: 287px;
    /* left: 1128px; */
}

#image-12 {
    top: 104px;
    right: 117px;
    /* left: 1314px; */
}

#image-13 {
    top: 183px;
    right: 0px;
    /* left: 1431px; */
}

#image-14 {
    top: 227px;
    right: 135px;
    /* left: 1093px; */
}

#image-15 {
    top: 223px;
    right: 209px;
    /* left: 1190px; */
}

#image-16 {
    top: 265px;
    right: 89px;
    /* left: 1392px; */
}



/* footer with upper-card-- */







.lower-footer {
    /* height: 668px;
    border: 1px solid orange;
    margin-top: 64px; */
}

.grid-container {
    /* display: grid;
    grid-template-columns: 263px auto auto auto auto;
    gap: 1px;
    padding: 1px; */
}

.grid-container>div {
    text-align: start;

}

.grid-container>div ul li:not(:first-of-type) {
    margin-bottom: 24px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 16px;
    line-height: 22px;
    font-weight: 400;
    list-style: none;
}

.grid-container>div ul li:first-child {
    margin-bottom: 31px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 25px;
    color: #183B56;
    list-style: none;

}

.footer-para {
    margin-top: 23px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 16px;
    line-height: 28px;
    font-weight: 400;
    color: #5A7184;
    text-align: left;
    letter-spacing: 0.2px;
}

#footer-icon {
    margin-top: 13px;
}

.heart-icon {
    display: flex;
    justify-content: center;
    margin-top: 96px;
}

.heart-lower-para {
    display: flex;
    justify-content: center;
    margin-top: 24px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 16px;
    font-weight: 600;
    color: #5A7184;
}


.last {
    display: flex;
    justify-content: space-between;
    margin-left: -20px;
}

.last ul li {
    float: left;
    margin-left: 12px;
    list-style: none;
    margin-top: 16px;
}

.lastbox ul li a {
    text-decoration: none;
    color: white;
}

.last ul li button {
    width: 30px;
    height: 30px;
    border-radius: 12px;
    border-style: none;
}

/* card-- */
/* upper-card */
.upper-card {
    width: 80%;
    position: absolute;
    /* top: 700px; */
    /* left: 218px; */
    bottom: -40%;
    left: 50%;
    border-radius: 16px;
    transform: translateX(-50%);
    display: flex;
    justify-content: center;
    align-items: center;
}

.graphs-b {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}

.upper-card-inner {
    width: 70%;
    margin: 56px 0px 0px 56px;
    border: 1px solid black;
    background-color: #F5F9FF;
    position: relative;
}

.upper-card-title {
    font-family: HK Grotesk;
    font-weight: 700;
    color: #183B56;
    font-size: 24px;
    line-height: 32px;
    letter-spacing: 0.2px;
    position: absolute;
    top: 40px;
    left: 38px;
}

.post-type {
    width: 264px;
    height: 333.6px;
    border: 1px solid blue;
    background-color: #FFFFFF;
    position: absolute;
    top: -121px;
    left: -133px;
    border-radius: 9px;
    display: flex;
    justify-content: center;

}

.post-type p {
    font-family: HK Grotesk;
    font-weight: 600;
    font-size: 24px;
    line-height: 28.8px;
    color: #183B56;
    margin: 28.8px 0px 40px 27px;
}

.image-video {
    display: flex;
    justify-content: space-between;
}

.post-type-image {
    /* display: flex; */
    /* justify-content: center; */
}

.many-dotts {
    position: absolute;
    top: 10px;
    right: 105px;
}

.social-media-imagess {
    /* position: absolute; 
     top: 500px; 
     left: 0px; */
    /* margin-top: 500px; */
    /* width: 700px;
     height: 500px;
     border: 5px solid red;
     display: flex;
     align-items: baseline; */


}

#like-card {
    position: absolute;
    top: 0;
    right: -17%;
}

.upper-card-box {
    display: flex;
    justify-content: space-around;
}

.box-size {
    width: 200px;
    height: 96px;
    border: 1px solid orange;
    border-radius: 8px;
    margin-top: 101px;
    background-color: #FFFFFF
}

.box-4-dashed {
    border: 2px dashed #B3BAC5;

    background-color: #F5F9FF;
}

.graphs-a {
    display: flex;
    justify-content: space-around;
    width: 100%;
    margin-top: 25px;
}
