* {
    margin: 0px;
    padding: 0px 0px;
    box-sizing: border-box;
}

/* header-- */
.buger {
    display: none;
}

.d-flex {
    display: flex;
}

.d-flex-wrap-center {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.d-flex-wrap-s-between {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.d-flex-wrap-s-around {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.d-flex-wrap-s-evenly {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.w-full {
    width: 100%;
}

.text-center {
    text-align: center;
}

.padding-x-20 {
    padding: 0px 20px;
}
.topnav{
    padding : 39px 40px 0px 40px
}
.topnav img{
    /* padding-top : 10px; */
}

.topnav a {
    font-weight: 600px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 16px;
    line-height: 22px;
    color: #183B56;
}

.topnav a button {
    width: 131px;
    height: 48px;
    padding: 6px 10px;
    border: 2px solid #1565D8;
    border-radius: 8px;
    color: #1565D8;
    font-weight: 700;
    font-size: 16px;
    line-height: 10px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: #f9ecd6;
    margin-top: -12px;
    text-align: center;
}

.topnav a i {
    font-size: 15px;
    margin: 0px 0px 0px -3px;
}

.hero {
    background-color: antiquewhite;
    height: 860px;
    margin-bottom: 500px;
    position: relative;
}

.heading {
    display: flex;
    font-family: Hk Grotesk;
    font-weight: 700;
    font-size: 56px;
    line-height: 68px;
    color: #183B56;
    letter-spacing: 0.2px;
    text-align: center;
    margin-top: 119px;
}

.header-para p {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 18px;
    line-height: 32px;
    text-align: center;
    font-weight: 400;
    color: #183B56;
    margin-top: 19px;
    padding: 0px 8px;

}

.header-btn button {
    width: 240px;
    height: 56px;
    background-color: #183B56;
    color: white;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 18px;
    line-height: 25px;
    text-align: center;
    font-weight: 700;
    border-radius: 8px;
    border-style: none;
    margin-top: 48px;
}

.topnav {
    overflow: hidden;
    background-color: #faebd7;
}

.topnav a {
    float: right;
    display: block;
    color: #183B56;
    text-align: center;
    padding: 10px 10px;
    text-decoration: none;
    font-size: 17px;
    font-weight: 600;
    background-color: #faebd7;
}

.topnav img {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    text-decoration: none;
    font-size: 17px;
    margin-left: 30px;
}

.topnav a:hover {
    color: #183B56;
}

.topnav a.active {
    color: #183B56;
}

.topnav .icon {
    display: none;
}

@media screen and (max-width: 800px) {
    .topnav a:not(:first-child) {
        display: none;
    }
    .topnav a button{
        display: none;
    }

    .topnav a.icon {
        float: right;
        display: block;
    }
}

@media screen and (max-width: 800px) {
    .topnav.responsive {
        position: relative;
    }

    .topnav.responsive .icon {
        position: absolute;
        right: 40px;
        top: 39px;
    }

    .topnav.responsive a {
        float: none;
        display: block;
        text-align: right;
    }

    .topnav.responsive .firstItem {
        margin-top: 10px;
    }
}

/* header end */

/* upper-card */
.upper-card {
    width: 80%;
    position: absolute;

    bottom: -52%;
    left: 50%;
    border-radius: 16px;
    transform: translateX(-50%);
    display: flex;
    justify-content: center;
    align-items: center;
}
.upper-card-title {
    font-family: HK Grotesk;
    font-weight: 700;
    color: #183B56;
    font-size: 24px;
    line-height: 32px;
    letter-spacing: 0.2px;
    position: absolute;
    top: 40px;
    left: 38px;
}

.upper-card-inner {
    width: 70%;
    margin: 56px 0px 0px 56px;
    background-color: #F5F9FF;
    border-radius: 9px;
    position: relative;
}

.post-type {
    width: 264px;
    height: 333.6px;
    background-color: #FFFFFF;
    position: absolute;
    top: -121px;
    left: -133px;
    border-radius: 9px;
    display: flex;
    justify-content: center;

}

.post-type p {
    font-family: HK Grotesk;
    font-weight: 600;
    font-size: 24px;
    line-height: 28.8px;
    color: #183B56;
    margin: 28.8px 0px 40px 27px;
}

.many-dotts {
    position: absolute;
    top: 10px;
    right: 130px;
}

#like-card {
    position: absolute;
    top: 0;
    right: -17%;
}

.upper-card-box {
    display: flex;
    justify-content: space-around;
}

.box-size {
    width: 200px;
    height: 96px;
    border: 1px solid orange;
    border-radius: 8px;
    margin-top: 101px;
    background-color: #FFFFFF
}

.box-4-dashed {
    border: 2px dashed #B3BAC5;

    background-color: #F5F9FF;
}

.graphs-a {
    display: flex;
    justify-content: space-around;
    width: 100%;
    margin-top: 25px;
}

/* middle-section-- */

/* social-media-images-- */

.social-media {
    width: 80%;
    margin: 20px 0px;
    padding-bottom: 100px;
    border-bottom: 1px solid #E3E7ED;

}

.align-self {
    align-self: center;
}

.social-media-image {
    padding: 15px 10px;
}

/* social-media-images image-- */


.section-container {
    width: 85%;
    margin: 20px 0px;
    justify-content: center;
    flex-direction: row;
    margin-bottom: 100px;
}

.section-container-activity {
    width: 63%;

    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 50px 0px 100px 0px;

}

.section-division {

    align-self: flex-start;
    width: 48%;
    min-width: 350px;
    ;
}

.dotted-image-container {
    width: 65%;
    margin-top: 150px;
    position: relative;
}

.box-container {
    margin-top: 65px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

/* middle-section-2 */

.box-a-title-style {
    /* width: 390px; */
    /* width: 66.66%; */
    /* height: 104px; */
    /* border: 1px solid red; */
    font-family: HK Grotesk;
    font-weight: 700;
    font-size: 40px;
    /* font-size: 2.5em; */
    line-height: 52px;
    text-align: left;
    letter-spacing: 0.2px;
    color: #183B56;
    /* margin-top: 52px; */
    margin-top: 51px;
    padding: 0px 40px 0px 40px;

}


.box-a-para-style {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 32px;
    vertical-align: left;
    letter-spacing: 0.2px;
    color: #5A7184;
    margin-top: 20px;
    padding: 0px 40px 0px 40px;
}

.upper-box-a-learn-more {
    margin-top: 36px;
    font-weight: 700;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 16px;
    line-height: 22px;
    text-align: left;
    color: #1565D8;
    padding: 0px 40px 0px 40px;
}

.upper-box-a-learn-more i {
    padding-left: 10px;
}

.right-lower-para {
    font-weight: 400;
    font-size: 14px;
    line-height: 10px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color:
        #5A7184;
        line-height: 15px;
        letter-spacing: 0.2px;
}

.right-lower-para i {
    padding-right: 10px;
}


/* middle-section-2-end-- */

/* small-card-in-middle-section-- */
.small-card {
    width: 310px;
    height: 224px;
    border: 1px solid orange;
    border-radius: 12px;
    position: absolute;
    top: -84px;
    left: 42%;
    background-color: #FFFFFF;
}

.small-card-images {
    margin: 25px 15px 0px 15px;
}

.small-card-title {
    margin-top: 24px;
    font-family: HK Grotesk;
    font-weight: 700;
    font-size: 20px;
    letter-spacing: 0.2px;
    color: #183B56;

}

.small-card-para {
    color: #183B56;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 14px;
    line-height: 24px;
    font-weight: 400;
    margin-top: 10px;

}

.small-card-btns {
    margin-top: 16px;
}

#card-btn-1 {
    height: 38px;
    width: 130px;
    border-radius: 8px;
    border-style: none;
    background-color: #36B37E;
    color: #ffff;
}

#card-btn-2 {
    height: 38px;
    width: 130px;
    border-radius: 8px;
    border-style: none;
    background-color: #d4ece2;
    color: #36B37E;

}

/* end-- */

.box-frist-title {
    margin-top: 12px;
    font-family: HK Grotesk;
    font-size: 39px;
    line-height: 52px;
    text-align: left;
    letter-spacing: 0.2px;
    font-weight: 700;
    color: #183B56;

}

.box-frist-para {
    margin-top: 24px;
    font-size: 18px;
    line-height: 32px;
    vertical-align: left;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 400;
    color: #183B56;
    padding-right: 50px;

}

.box-second {
    width: 265px;
    padding: 0px 80px 0px 0px;

}

/* digit-and-words-- */

.digit-style {
    font-family: HK Grotesk;
    font-size: 40px;
    line-height: 52px;
    font-weight: 400;
    letter-spacing: 0.2px;
    color: #FAAD13;
}

.digit-635-286 {
    margin-top: 28px;
}

.word-style {
    font-weight: 400;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    line-height: 24px;
    font-size: 14px;
    margin-top: 10px;

}

/* end-- */


/* footer-- */
.upper-footer {
    width: 100%;
    /* border: 1px solid rgb(25, 25, 37); */
    margin-top: 100px;
    position: relative;
}

.upper-footer-title div {
    /* border: 1px solid red; */
    margin-top: 88px;
    font-family: HK Grotesk;
    font-size: 40px;
    line-height: 52px;
    letter-spacing: 0.2px;
    color: #183B56;
    text-align: center;
    font-weight: 700;

}


.upper-footer-para p {
    margin-top: 22px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 18px;
    line-height: 32px;
    color: #183B56;
    font-weight: 400;
    padding-left: 10px;

}

.upper-footer-buttonss {
    width: 270px;
    height: 56px;
    border-radius: 8px;
    border-style: none;
    margin-top: 48px;
    background-color: #1565D8;
    color: white;
    font-weight: 700;
    line-height: 25px;
    font-size: 18px;

}

.positions {
    position: absolute;
}

#image-1 {
    top: 40px;
    left: 157px;
}

#image-2 {
    top: 64px;
    left: 317px;
}

#image-3 {
    top: 112px;
    left: 46px;
}

#image-4 {
    top: 119px;
    left: 0px;
}

#image-5 {
    top: 157px;
    left: 179px;
}



#image-6 {
    top: 197px;
    left: 375px;
}

#image-7 {
    top: 240px;
    left: 105px;
}

#image-8 {
    top: 350px;
    left: 243px;
}

#image-9 {
    top: 0px;
    right: 200px;
}

#image-10 {
    top: 14px;
    right: 48px;
}

#image-11 {
    top: 50px;
    right: 287px;
}

#image-12 {
    top: 104px;
    right: 117px;
}

#image-13 {
    top: 183px;
    right: 0px;
}

#image-14 {
    top: 227px;
    right: 135px;
}

#image-15 {
    top: 223px;
    right: 209px;
}

#image-16 {
    top: 265px;
    right: 89px;
}



/* footer with upper-card-- */
/* lower-footer-- */
.lower-footer {
    margin-top: 200px;
}

.grid-container>div {
    text-align: start;

}

.lower-footer-inner>div ul li:not(:first-of-type) {
    margin-bottom: 24px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 16px;
    line-height: 22px;
    font-weight: 400;
    list-style: none;
    color: #183B56;
}

.lower-footer-inner>div ul li:first-child {
    margin-bottom: 31px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 25px;
    color: #183B56;
    list-style: none;

}

.footer-para {
    margin-top: 23px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 16px;
    line-height: 28px;
    font-weight: 400;
    color: #5A7184;
    text-align: left;
    letter-spacing: 0.2px;
}

.footer-responsive {
    padding: 0px 0px 0px 30px;
    margin-top: -11px;
}

#footer-icon {
    margin-top: 13px;
}

.heart-icon {
    display: flex;
    justify-content: center;
    margin-top: 96px;
}

.heart-lower-para {
    display: flex;
    justify-content: center;
    margin-top: 24px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 16px;
    font-weight: 600;
    color: #5A7184;
}

/* end-- */


/* crousal-box-- */


.last {
    display: flex;
    justify-content: space-between;
    margin-left: -20px;
}

.last ul li {
    float: left;
    margin-left: 12px;
    list-style: none;
    margin-top: 16px;
}

.lastbox ul li a {
    text-decoration: none;
    color: white;
}

.last ul li button {
    width: 30px;
    height: 30px;
    border-radius: 12px;
    border-style: none;
}

/* end-- */
/* crousal-header-box-title */
/* crousal-- */
* {
    box-sizing: border-box
}

.mySlides1,
.mySlides2 {
    display: none
}

img {
    vertical-align: middle;
}

.slideshow-container {
    max-width: 555px;
    position: relative;
    margin: auto;
    padding-bottom: 100px;
}

.prev,
.next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -22px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
    color: black;
    background-color: black;
}

.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

.prev:hover,
.next:hover {
    background-color: #f1f1f1;
    color: black;
}


/* crousal-box-- */
.last-cards {
    display: flex;
    justify-content: space-evenly;
}

.cards-size {
    /* border: 1px solid black; */
    background-color: #FFFFFF;
    width: 100%;
    border-radius: 9px;
}

.last-cards-1-images ul {
    display: flex;
    padding-right: 50px;
}

.last-cards-1-images ul li {
    list-style: none;
}

.last-cards-1-images ul li:first-child {
    margin: 44px 36px 0px 0px;

}

.last-cards-1-images ul li:not(:first-of-type) {
    margin: 62px 16px 0px 16px;
}

.last-cards-1-para {
    display: flex;
    justify-content: center;
}

.last-cards-1-para div {
    /* border: 1px solid black; */
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 400;
    font-size: 20px;
    line-height: 36px;
    text-align: left;
    color: #183B56;
    margin-top: 36px;
    padding-left: 10px;
    

}

.last-cards-1-para-1 {
    font-family: GK Grotesk;
    font-size: 20px;
    line-height: 24px;
    letter-spacing: 0.2px;
    color: #183B56;

    font-weight: 600;
    margin: 31px 0px 0px 40px;

}

.last-cards-1-para-2 {
    font-family: GK Grotesk;
    font-size: 16px;
    line-height: 28px;
    /* letter-spacing: 0.2px; */
    color: #5A7184;
    font-weight: 400;
    margin: 10px 0px 0px 40px;

}

/* crousal-title-- */

.crousal-btn {
    width: 100%;
    margin: 100px 0px 50px 0px;
}

.crousal-btn-inner {
    width: 100%;
    height: 56px;
}

.crousal-btn-style {
    width: 56px;
    height: 56px;
    border-radius: 50%;
    border: 2px solid #959EAD;
    background-color: #F9FBFE;



}

#crousal-btn-1:hover {
    border-color: #183B56;
}

#crousal-btn-2:hover {
    border-color: #183B56;
}

.crousal-title {
    font-weight: 700;
    font-family: HK Grotesk;
    font-size: 36px;
    line-height: 42px;
    letter-spacing: 0.2px;
    color: #183B56;
    padding-left: 5px;
}

.lefts-title img {
    margin: 0px 0px 0px -35px;
    width: 16px;
    height: 16px;
}
/* lower-section-- */

.section-3{
    width: 100%;
    height: 2086px;
    background-color: #F9FBFE;

}
/* .section-3-title */
.hash-tag-area{
    background-color: #F9FBFE;
}

.hash-tag-container {
    width: 70%;
}
.title-style{
    font-family: HK Groteak;
    /* font-size: 40px; */
    font-size: 2.5em;
    line-height: 52px;
    letter-spacing: 0.2px;
    font-weight: 700;
    color: #183B56;
    margin-top: 100px;
}
.para-style {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 400;
    font-size: 1.12em;
    line-height: 32px;
    text-align: center;
    margin-top: 24px; 
    color: #183B56;
}
.section-3-boxes{
    margin: 64px 247px 0px 247px;
}
.size{
    width: 458px;
    height: 480px;
    background-color:#FFFFFF;
    border-radius: 8px; 

}
.section-3-2{
    margin: 30px 0px 0px 0px;
}
.position {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
}
.card-title-style {
    margin-bottom: 18px;
    width: 100%;
    font-family: HK Grotesk;
    font-size: 1.5em;
    font-size: 0.791;
    line-height: 32px;
    letter-spacing: 0.2px;
    font-weight: 700;
    text-align: center;
    color: #183B56;
}
.card-para-style {
    margin-bottom: 48px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

    font-size: 1em;
    line-height: 28px;
    color: #5A7184;
    font-weight: 400;
    text-align: center;
    vertical-align: top;
}
.image-positions {
    position: absolute;
}

#card-image-1 {
    top: 42px;
    left: 183px;
}

#card-image-2 {
    top: 106px;
    left: 69px;
}

#card-image-3 {
    top: 142px;
    right: 71px;
}

#card-image-4 {
    top: 168px;
    left: 161px;
} 

#card-image-5 {
    top: 208px;
    right: 171px;
}

#card-image-6 {
    top: 255px;
    left: 198px;
}


.card-3-box {
    width: 144px;
    height: 168px;
    position: absolute;
}

#box-1 {
    top: 88px;
    left: 85px;
}

#box-2 {
    top: 124px;
    left: 162px;
}

#box-3 {
    top: 48px;
    left: 230px;
}

#box-4 {
    position: absolute;
    top: 35px;
    left: 206px;
}

#box-5 {
    position: absolute;
    top: 276px;
    left: 71px;
}
.line-3{
    width: 76%;
    height: 0px;
    margin-top: 100px;
}

/* upper-card-round box-- */
.round {
    width: 48px;
    height: 48px;
    border-radius: 50%;
    background-color: #36B37E;
    align-items: center;
    padding-left: 8px;
    margin: auto 0px auto 0px;
}

.line {
    margin: auto 0px auto 0px;
}

.line-1 {
    width: 56px;
    height: 6px;
    margin-bottom: 10px;
    background-color:
        #B3BAC5;
    border-radius: 2px;

}

.line-2 {
    width: 96px;
    height: 6px;
    background-color: #F5F5F5;

}
.empty-box {
    width: 85%;
    height: 1px;
    border: 1px dashed #183B56;
    margin: 30px 0px 0px 44px;

}
.right-lower-para {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 14px;
    line-height: 24px;
    font-weight: 400;
    text-align: left;
    color: #183B56;
    margin: 27px 0px 0px 45px;

}
/* #959EAD; */
#crousal-btn-2 img{
    color:#959EAD ;
}